<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Rendering With v-for</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <h1>fadsfasf</h1>
  <body>
    <div id="app">
      <h1>User Lists</h1>
      <ul>
        <li v-for="user in users">{{ user }}</li>
        <hr />
        <p>Numbers from One to Ten</p>
        <p v-for="number in 10">{{ number}}</p>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="main.js"></script>
  </body>
</html>
